@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["message"] != null)
{
    <div class="alert alert-warning" style="text-align: center">@TempData["message"]</div>
}

<div class="text-center">

    <h1 class="display-4">Welcome</h1>
    @if (User.Identity.IsAuthenticated)
    {
        @if (!ViewBag.HasEmployee)
        {
            <form>
                <button asp-action="BindWithEmployee" class="btn btn-primary">Привязать к Employee</button>
            </form>
        }
        else
        {
            <h3>Ваш аккаунт привязан к Employee</h3>
        }
    }
</div>