@using DotNet2020.Domain._6.Models.ViewModels
@using DotNet2020.Domain._6.Services
@{
    Layout = "~/Views/Shared/_Layout6.cshtml";
    List<string> months = MonthGeneratorService.GetAllMonths(DateTime.Now.Year);
    var currentYear = DateTime.Now.Year;
}

@model FunctionalCapacityViewModel

    <style>
        .scroller {
            margin-left: 30%;
        }

        .year {
            margin-bottom: 1vw;
        }

        .top {
            border-top: 1px solid #dee2e6;
        }

        .left {
            border-left: 1px solid #dee2e6;
        }

        .right {
            border-right: 1px solid #dee2e6;
        }

        .bottom {
            border-bottom: 1px solid #dee2e6;
        }

        .no-bottom{
            border-bottom: none;
        }

        .no-top{
            border-top: none;
        }

        .align-center {
            text-align: center;
        }

        .h45 {
            height: 45px;
        }
    </style>



<div class="fcwrapper">
    <div class="fcscroller1">
        <table class="fcscroll-table table bottom">
            <thead>
                <tr>
                    <td class="fcsticky-col1 left">
                        &nbsp;
                    </td>
                    @foreach (var m in months)
                    {
                        <th class="right" colspan="2">
                            @m
                        </th>
                    }
                </tr>
                <tr>
                    <th class="fcsticky-col1 left align-center">
                        <p>Ресурс</p>
                    </th>
                    @foreach (var m in months)
                    {
                        <th class="right">
                            план,%
                        </th>
                        <th class="right">
                            мощность,%
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach(var pair in Model.Dict)
                {
                    <tr>
                        <td class="fcsticky-col1 left h45">
                            <h6>@pair.Key</h6>
                        </td>

                        @for(int i = 0; i < 24; i++)
                        {
                            <td class="right h45">
                                -
                            </td>
                        }
                    </tr>

                    @foreach(var m in pair.Value)
                    {
                        <tr>
                            <td class="fcsticky-col1 left h45">
                                @(m.Resource.FirstName + " " + m.Resource.LastName)
                            </td>

                            @foreach(var capacItem in m.YearItemsDict[currentYear])
                            {
                                <td class="right align-center h45">
                                    @capacItem.PlannedCapacity%
                                </td>
                                <td class="right align-center h45">
                                    @capacItem.CurrentCapacity%
                                </td>
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>