@model DotNet2020.Domain._4_.Models.ModelView.SickDayViewModel
<div class="text-danger">@Html.ValidationMessage("Error")</div>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<span asp-validation-for="Day" class="text-danger"></span>

<div>
    @using (Html.BeginForm("Add", "SickDay", FormMethod.Post))
    {
        <p>Выберите день болезни</p>
        <p>
            <input asp-for="Day" type="date"/>
        </p>
        <p><input type="submit" value="Добавить" /></p>
    }
</div>