.fctable thead th {
    border-bottom: none;
}

.fcscroll-table {
    border-collapse:collapse;
    border-spacing: 0;
    border-bottom: none;
}

    .fcscroll-table thead th {
        color: #336B6B;
        padding: 10px;
        text-align: left;
        white-space: nowrap;
    }

    .fcscroll-table tbody td {
        padding: 10px;
        white-space: nowrap;
    }

.fcwrapper {
    position: relative;
}

.fcscroller1 {
    margin-left: 15%;
    overflow-x: scroll;
    overflow-y: visible;
    padding-bottom: 5px;
}

.fcscroller2 {
    margin-left: 30%;
    overflow-x: scroll;
    overflow-y: visible;
    padding-bottom: 5px;
}

.fcscroll-table .fcsticky-col1 {
    left: 0;
    position: absolute;
    top: auto;
    width: 15%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid #dee2e6;
}

.fcstricky-col1-header {
    left: 0;
    position: absolute;
    top: auto;
    width: 15%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid #dee2e6;
}

.fcscroll-table .fcsticky-col2 {
    margin-left: 15%;
    position: absolute;
    left: 0;
    width: 15%;
    top: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid #dee2e6;
}
