<style>
    .mainblock {
        position: relative;
        text-align: center;
    }

    .titleblock {
        display: inline-block;
        margin-bottom: 15px;
    }
</style>
<div class="mainblock">
    <a class="titleblock" asp-action="Available"><h3>Посмотреть созданные отчеты</h3></a>
    <a class="titleblock" asp-action="Create"><h3>Создать отчет</h3></a>
</div>
