@{
    ViewData["Title"] = "Добавить";
}
    <link rel="stylesheet" href="~/css/calendar.css">
<div class="text-center">
    <h1 class="display-4">Добавьте новое событие</h1>
</div>
<div>
    <h2>Выберите тип события</h2>
    <form asp-conttoller="SickDay" asp-action="Add" method="get">
        <div class="adminrecomadd">
            <button>Sick Day</button>
        </div>
    </form>
    <form asp-conttoller="Vacation" asp-action="Add" method="get">
        <div class="adminrecomadd">
            <button>Отпуск</button>
        </div>
    </form>
    <form asp-conttoller="Illness" asp-action="Add" method="get">
        <div class="adminrecomadd">
            <button>Больничный</button>
        </div>
    </form>
</div>