@{
    ViewData["Title"] = "Добавить Праздник";
}

<div class="text-center">
    <h1 class="display-4">Добавьте новый праздничный день</h1>
</div>

<div>
    <form action="#">
        <p>Название праздника</p>
        <p><input type="text" /></p>
        <p>Дата праздника</p>
        <p><input type="date" /></p>
        <p><input type="submit" value="Добавить праздник" /></p>
    </form>
</div>