@using DotNet2020.Domain.Models.ModelView
@model IndexViewModel

@{
    ViewData["Title"] = "Calendar";
}

<link rel="stylesheet" href="~/css/calendar.css">
<div class="container">

    <div class="calendar">
        <h1>Календарь</h1>
        @Html.Partial("Calendar.cshtml")
    </div>

    <h2 style="        margin-top: 40px
                                  ">Рекомендация для вас</h2>
    <div class="recommendations">
        <div class="block-rec">
            <div class="box">
                @if (ViewBag.Recommendation != null)
                {
                    <p>@ViewBag.Recommendation.RecommendationText</p>
                }
            </div>
        </div>
        <form asp-action="AddEvent" asp-controller="Calendar" method="get">
            <div class="vacation">
                <h2>У вас осталось @ViewBag.TotalVacation дней отпуска</h2>
                <button type="submit">Запросить новый отпуск</button>
            </div>
        </form>
    </div>
    <div class="last-vacation">
        @if (ViewBag.User != null && ViewBag.User.IsLastVacationApproved)
        {
            <h1>Ваш последний отпуск был согласован</h1>   
        }
        else if(ViewBag.User != null)
        {
            <h1>Ваш последний отпуск был отклонен</h1>
        }
    </div>
</div>