@using Kendo.Mvc.UI

@{
    ViewData["Title"] = "Calendar";
}
<link rel="stylesheet" href="~/css/calendar.css">
<div class="container">

    <div class="calendar">
        <h1>Календарь</h1>
        @(
        Html.Kendo().Scheduler<Kendo.Mvc.Examples.Models.Scheduler.Projection>()
            .Name("calendar")
            .Date(DateTime.Now)
            .StartTime(new DateTime(DateTime.Now.Year, 1, 1))
            .MajorTick(1440)
            .Editable(false)
            .Height(600)
            .Views(views =>
            {
                views.MonthView();
                views.TimelineMonthView();
                views.TimelineWeekView();
                views.AgendaView();
            })
            .Group(group => group.Resources("Titles").Orientation(SchedulerGroupOrientation.Vertical))
            .Resources(resource =>
            {
                resource.Add(m => m.Title)
                    .Title("Title")
                    .Name("Titles")
                    .Multiple(true)
                    .DataTextField("Text")
                    .DataValueField("Value")
                    .DataColorField("Color")
                    .BindTo(new[] {
                        new { Text = "Fast and furious 6", Value = "Fast and furious 6", Color = "green" },
                        new { Text = "The Internship", Value = "The Internship", Color = "yellow" },
                        new { Text = "The Perks of Being a Wallflower", Value = "The Perks of Being a Wallflower", Color = "black" }
                    });
            })
            .DataSource(d => d
                .Model(m =>
                {
                    m.Id(f => f.Title);
                    m.Field(f => f.Title).DefaultValue("No title");
                })
                .ServerOperation(true)
                .Read("Read", "Scheduler")
                .Create("Create", "Scheduler")
                .Destroy("Destroy", "Scheduler")
                .Update("Update", "Scheduler")
            )
        )
    </div>

    <h2 style="margin-top: 40px">Рекомендация для вас</h2>
    <div class="recommendations">
        <div class="block-rec">
            <div class="box">
                @if (ViewBag.Recommendation != null)
                {
                    <p>@ViewBag.Recommendation.RecommendationText</p>
                }
            </div>
        </div>
        <form asp-action="AddEvent" asp-controller="Calendar" method="get">
            <div class="vacation">
                <h2>У вас осталось 20 дней отпуска</h2>
                <button type="submit">Запросить новый отпуск</button>
            </div>
        </form>
    </div>
    <div class="last-vacation">
        <h1>Ваш последний отпуск был отклонен/согласован</h1>
    </div>
</div>
        
