@using Kendo.Mvc.UI

@{
    ViewData["Title"] = "Calendar";
}
<link rel="stylesheet" href="~/css/calendar.css">
<div class="container">

    <div class="calendar">
        <h1>Календарь</h1>
        @(
        Html.Kendo().Scheduler<DotNet2020.Domain._4.Models.AbstractCalendarEntry>()
            .Name("calendar")
            .Date(DateTime.Now)
            .StartTime(new DateTime(DateTime.Now.Year, 1, 1))
            .MajorTick(1440)
            .Editable(false)
            .Height(600)
            .Views(views =>
            {
                views.TimelineMonthView();
                views.TimelineWeekView();
                views.AgendaView();
            })
            .Group(group => group.Resources("Users").Orientation(SchedulerGroupOrientation.Vertical))
            .Resources(resource =>
            {
                resource.Add(m => m.UserName)
                    .Title("UserName")
                    .Name("Users")
                    .DataTextField("Text")
                    .DataColorField("Color")
                    .BindTo(new[]
                    {
                        new {Text = "Иванов Иван Иванович", Color = "#6eb3fa"},
                        new {Text = "Сидоров Петр Васильевич", Color = "#6eb3fa"},
                        new {Text = "Аршинов Максим Вячеславович", Color = "#6eb3fa"}
                    });
            })
            .DataSource(d => d
                .Model(m =>
                {
                    m.Id(f => f.Id);
                    m.Field(f => f.Title).DefaultValue("No user");
                })
                .Read("Read", "Scheduler")
            )
        )
    </div>

    <h2 style="margin-top: 40px">Рекомендация для вас</h2>
    <div class="recommendations">
        <div class="block-rec">
            <div class="box">
                @if (ViewBag.Recommendation != null)
                {
                    <p>@ViewBag.Recommendation.RecommendationText</p>
                }
            </div>
        </div>
        <form asp-action="AddEvent" asp-controller="Calendar" method="get">
            <div class="vacation">
                <h2>У вас осталось 20 дней отпуска</h2>
                <button type="submit">Запросить новый отпуск</button>
            </div>
        </form>
    </div>
    <div class="last-vacation">
        <h1>Ваш последний отпуск был отклонен/согласован</h1>
    </div>
</div>
        
