@using Kendo.Mvc.UI
@model List<Kendo.Mvc.Examples.Models.Scheduler.CalendarEventViewModel>

@{
    ViewData["Title"] = "Calendar";
}
<link rel="stylesheet" href="~/css/calendar.css">
<div class="container">

    <div class="calendar">
        <h1>Календарь</h1>
        @(
        Html.Kendo().Scheduler<Kendo.Mvc.Examples.Models.Scheduler.CalendarEventViewModel>()
            .Name("calendar")
            .Date(DateTime.Now)
            .StartTime(new DateTime(DateTime.Now.Year, 1, 1))
            .MajorTick(1440)
            .Editable(false)
            .Height(600)
            .Views(views =>
            {
                views.TimelineMonthView();
                views.TimelineWeekView();
                views.AgendaView();
            })
            .BindTo(Model)
            .Group(group => group.Resources("Titles").Orientation(SchedulerGroupOrientation.Vertical))
            .Resources(resource =>
            {
                resource.Add(m => m.UserEmail)
                    .Title("Title")
                    .Name("Titles")
                    .Multiple(true)
                    .DataTextField("Text")
                    .DataValueField("Value")
                    .DataColorField("Color")
                    .BindTo(new[] {
                        new { Text = "Иванов Иван Иванович", Value = 1, Color = "#6eb3fa" },
                        new { Text = "Сидоров Петр Васильевич", Value = 2, Color = "#f58a8a" },
                        new { Text = "Агустов Василий Петрович", Value = 3, Color = "#f58a8a" }
                    });
            })
            .DataSource(d => d
                .Model(m =>
                {
                    m.Id(f => f.Id);
                    m.Field(f => f.Title).DefaultValue("No title");
                })
            )
        )
    </div>

    <h2 style="margin-top: 40px">Рекомендация для вас</h2>
    <div class="recommendations">
        <div class="block-rec">
            <div class="box">
                @if (ViewBag.Recommendation != null)
                {
                    <p>@ViewBag.Recommendation.RecommendationText</p>
                }
            </div>
        </div>
        <form asp-action="AddEvent" asp-controller="Calendar" method="get">
            <div class="vacation">
                <h2>У вас осталось 20 дней отпуска</h2>
                <button type="submit">Запросить новый отпуск</button>
            </div>
        </form>
    </div>
    <div class="last-vacation">
        <h1>Ваш последний отпуск был отклонен/согласован</h1>
    </div>
</div>
        
