@{
    ViewData["Title"] = "Calendar";
}
    <link rel="stylesheet" href="~/css/calendar.css">
    <table border="1">
        <thead>
            <tr>
                <th>Название праздника</th>
                <th>Дата праздника</th>
                <th>Удалить</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var holiday in ViewBag.Holidays)
            {
                <tr>
                    <td>@holiday.Name</td>
                    <td>@holiday.Date.Day/@holiday.Date.Month/@holiday.Date.Year</td>
                    <td>
                        <form asp-controller="Calendar" asp-action="RemoveHolidays" asp-route-id="@holiday.Id" method="post">
                            <button type="submit">&#10008;</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>        
    </table>
    <br />
    <form asp-action="Admin" asp-controller="Calendar" method="get">
        <div class="adminrecomadd">
            <button type="submit">Назад</button>
        </div>
    </form>

