@{
    ViewData["Title"] = "Добавить";
}

<div class="text-center">
    <h1 class="display-4">Добавьте новое событие</h1>
</div>

<div>
    <form action="#">
        <p>Выберите тип события</p>
        <select id="eventType">
            <option value="seekday">Seekday</option>
            <option value="vacation">Отпуск</option>
            <option value="illness">Больничный</option>
        </select>
        <p>Выберите интервал времени</p>
        <p>От: <input type="date" /></p>
        <p>До: <input type="date" /></p>

        <p><input type="submit" value="Добавить" /></p>
    </form>
</div>