@{
    ViewData["Title"] = "Добавить Рекомендацию";
}

<div class="text-center">
    <h1 class="display-4">Добавьте рекомендацию</h1>
</div>

<div>
    <form action="#">
        <p>Текст рекомендации:</p>
        <p><input type="text" /></p>
        <p><input type="submit" value="Добавить" /></p>
    </form>
</div>