@{
    ViewData["Title"] = "Calendar";
}

<div class="text-center">
    <h1 class="display-4">Hello in calendar</h1>
</div>

<div>
    <table>
        <tbody>
            <tr>
                <td>A</td>
                <td>B</td>
                <td>C</td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
            </tr>
        </tbody>
    </table>
    <hr />
    <h3>Запросы на отпуск</h3>
    <table>
        <tbody>
            <tr>
                <td>Иванов Иван Иванович</td>
                <td>От 03/03/2020 до 07/03/2020  4 дня</td>
                <td><button>Согласовать</button></td>
                <td><button>Отклонить</button></td>
            </tr>
            <tr>
                <td>Иванов Иван Иванович</td>
                <td>От 03/03/2020 до 07/03/2020  4 дня</td>
                <td><button>Согласовать</button></td>
                <td><button>Отклонить</button></td>
            </tr>
            <tr>
                <td>Иванов Иван Иванович</td>
                <td>От 03/03/2020 до 07/03/2020  4 дня</td>
                <td><button>Согласовать</button></td>
                <td><button>Отклонить</button></td>
            </tr>
            <tr>
                <td>Иванов Иван Иванович</td>
                <td>От 03/03/2020 до 07/03/2020  4 дня</td>
                <td><button>Согласовать</button></td>
                <td><button>Отклонить</button></td>
            </tr>
            <tr>
                <td>Иванов Иван Иванович</td>
                <td>От 03/03/2020 до 07/03/2020  4 дня</td>
                <td><button>Согласовать</button></td>
                <td><button>Отклонить</button></td>
            </tr>
            <tr>
                <td>Иванов Иван Иванович</td>
                <td>От 03/03/2020 до 07/03/2020  4 дня</td>
                <td><button>Согласовать</button></td>
                <td><button>Отклонить</button></td>
            </tr>
        </tbody>
    </table>
    <hr />
    <h3>Рекомендации для всех</h3>
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <div>
        <hr />
        <button>Добавить рекомендации</button>
    </div>
    <br />
    <div>
        <button>Добавить праздничные дни</button>
        <hr />
    </div>
</div>
