@model DotNet2020.Domain._5.Models.CreateReport

<h2>Создать отчет</h2>
<br>
<br>
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateReport">
            <div class="form-group">
                <label for="CreateReport">Название отчета:</label>
                <input asp-for="ReportName" class="form-control" />
                <span asp-validation-for="ReportName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="CreateReport">Проект:</label>
                <input asp-for="Project" class="form-control" />
                <span asp-validation-for="Project" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="CreateReport">Фильтр:</label>
                <input asp-for="IssueFilter" class="form-control" />
                <span asp-validation-for="IssueFilter" class="text-danger"></span>
            </div>
            <br>
            <br>
            <button type="button" class="btn btn-success btn-lg">Создать</button>
        </form>
    </div>
</div>