@model IEnumerable<DotNet2020.Domain._3.Models.CompetencesModel>

@{
    Layout = "QwertyHeader";
}

<div class="container">
    <p>@Html.ActionLink("Добавить компетенцию", actionName: "CompetencesAdd", controllerName: "Attestation")</p>
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead class="thead">
                <tr>
                    <th>Компетенция</th>
                    <th>Содержание</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var competence in Model)
                {
                    <tr>
                        <td>
                            <b>@competence.Competence</b>
                            <form method="post">
                                <p>@Html.ActionLink($"Изменить", "CompetencesManage", "Attestation", new { id = competence.Id }, null) </p>
                            </form>
                        </td>
                        @if (competence.Content.Count == 0)
                        {
                            <td> Список содержимого пуст!</td>
                        }
                        else
                        {
                            <td>
                                @for (int i = 0; i < competence.Content.Count; i++)
                                {
                                    @competence.Content[i]
                                    <br />
                                }
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
</div>