@model DotNet2020.Domain._3.Models.CompetenceUpdateModel

@{
    Layout = "QwertyHeader";
}

<div class="container">
    <h1>Управление компетенций</h1>
    <p>@Html.ActionLink("Компетенции", "Competences", "Attestation")</p>
    <br />

    <form method="post">
        <h3>Добавление содержимого</h3>
        <p></p>
        <input type="text" name="Content" required />
        <p></p>
        <input type="text" hidden name="Action" value="AddContent" />
        <p><button type="submit" class="btn btn-primary">Добавить</button></p>
    </form>

    <br />
    <form method="post">
        <h3>Удаление содержимого компетенции</h3>
        <input type="text" hidden name="Action" value="RemoveContent" />
        @if (Model.Competence.Content.Count == 0)
        {
            <p>Список содержимого пуст!</p>
        }
        else
        {
            @for (var i = 0; i < Model.Competence.Content.Count; i++)
            {
                <p><input type="checkbox" name="Checkboxes" value="@i" /> @Model.Competence.Content[i] </p>
            }
            <p><button type="submit" class="btn btn-primary">Удалить выбранные</button></p>
        }
    </form>


    <br />
    <form method="post">
        <h3>Удаление компетенции</h3>
        <input type="text" hidden name="Action" value="RemoveCompetence" />
        <p><button type="submit" style="background-color:red" class="btn btn-primary">Удалить компетенцию</button></p>
    </form>
</div>
