@model DotNet2020.Domain._3.Models.GradesModel

@{
    Layout = "QwertyHeader";
}
<div class="container">
    <h1>Добавление грейдов</h1>
    <p></p>
    <form method="post">
        <p><b>Название</b><br />
        <p><input type="text" name="Grade" required /></p>
        <p><button type="submit" class="btn btn-primary">Добавить</button></p>
    </form>
</div>