@model IEnumerable<DotNet2020.Domain._3.Models.GradesModel>

@{
    Layout = "QwertyHeader";
}

<div class="container">
    <p>@Html.ActionLink("Добавить грейд", actionName: "GradesAdd", controllerName: "Attestation")</p>
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead class="thead">
                <tr>
                    <th>Грейд</th>
                    <th>Компетенции</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var element in Model)
                {
                    <tr>
                        <td>
                            <b>@element.Grade</b>
                            <form method="post">
                                <p>@Html.ActionLink($"Изменить", "GradesManage", "Attestation", new { id = element.Id }, null) </p>
                            </form>
                        </td>
                        @if (element.GradesCompetences.Count == 0)
                        {
                            <td> Список необходимых компетенций пуст!</td>
                        }
                        else
                        {
                            <td>
                                @for (int i = 0; i < element.GradesCompetences.Count; i++)
                                {
                                    @element.GradesCompetences[i].Competence.Competence
                                    <br />
                                }
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
</div>