@model DotNet2020.Domain._3.Models.QuestionUpdateModel

@{
    Layout = "QwertyHeader";
}

<div class="container">
    <h1>Управление вопросами</h1>
    <p>@Html.ActionLink("Вернуться", "Questions", "Attestation")</p>
    <br />


    <form method="post">
        <h3>Введите вопрос</h3>
        <textarea style="border:none;border-top:groove;border-left:groove;" name="NewQuestion" cols="100" required></textarea>
        <input type="text" hidden name="Action" value="AddQuestion" />
        <br />
        <p>Выберите сложность вопроса</p>
        <button type="submit" class="btn btn-primary">Добавить</button>
        <select name="Complexity">
            @foreach (var complexity in Model.Complexities)
            {
                <option>@complexity</option>
            }
        </select>
    </form>

    <br />
    <form method="post">
        <h3>Удаление вопросов</h3>
        <input type="text" hidden name="Action" value="RemoveQuestions" />
        @if (Model.Questions.Count == 0)
        {
            <p>Список вопросов пуст!</p>
        }
        else
        {
            @for (var i = 0; i < Model.Questions.Count; i++)
            {
                <p><input type="checkbox" name="QuestionsToRemove" value="@Model.Questions[i]" /> @Model.Questions[i] </p>
            }
            <p><button type="submit" style="background-color:red" class="btn btn-primary">Удалить выбранные</button></p>
        }
    </form>
</div>