@model IEnumerable<DotNet2020.Domain._3.ViewModels.CompetenceQuestionsViewModel>

@{
    Layout = "QwertyHeader";
}

    <div class="container">
        @if (Model != null && Model.Any())
        {
            <table class="table">
                <thead class="thead">
                    <tr>
                        <th>Компетенция</th>
                        <th>Вопросы</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var element in Model)
                    {
                        <tr>
                            <td>
                                <b>@element.Competence.Competence</b>
                                <form method="post">
                                    <p>@Html.ActionLink($"Изменить", "QuestionsManage", "Attestation", new { id = element.Competence.Id }, null) </p>
                                </form>
                            </td>
                            @if (element.Questions.Count == 0)
                            {
                                <td> Список вопросов пуст!</td>
                            }
                            else
                            {
                                <td>
                                    @for (int i = 0; i < element.Questions.Count; i++)
                                    {
                                        @element.Questions[i].Question
                                        <br />
                                    }
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>