@model DotNet2020.Domain._3.Models.SpecificWorkerModel

@{
    Layout = "QwertyHeader";
}

<div class="container">
    <form method="post">
        @if (!ViewBag.IsRegistering)
        {
            <p>
                <b>Введите почту</b><br />
                <input type="text" required name="Email" />
            </p>
        }
        <p>
            <b>Фамилия</b><br />
            <input type="text" required name="LastName" />
        <p>
            <b>Имя</b><br />
            <input type="text" required name="FirstName" />
        <p>
            <b>Отчество</b><br />
            <input type="text" required name="MiddleName" />
        <p>
            <b>Должность</b><br />
            <input type="text" required name="Position.Name" />
        <p>
            <b>Оклад</b><br />
            <input type="number" required name="Salary" step="0.01" />
        <p>
            <b>Премия</b><br />
            <input type="number" required name="Bonus" step="0.01" />
        <p>
            <b>Компетенции</b><br />
            @if (ViewBag.Competences != null)
            {
                @foreach (var element in ViewBag.Competences)
                {
                <p>
                    <input type="checkbox" value="@element.Id" name="competences"> @element.Competence
                </p>
            }
            }
            else
            {
                <p><b>Компетенции еще не были добавлены!</b></p>
            }
            <p>
                <b>Комментарий</b><br />
                <textarea style="border:none;border-top:groove;border-left:groove;" name="Commentary" required cols="100"></textarea>
            <p>
                <b>Предыдущие места работы</b><br />
                <textarea style="border:none;border-top:groove;border-left:groove;" name="PreviousWorkPlaces" required cols="100"></textarea>
            <p>
                <b>Общий стаж</b><br />
                <textarea style="border:none;border-top:groove;border-left:groove;" name="Experience" required cols="100"></textarea>
                <br />
                <button type="submit" class="btn btn-primary">Добавить</button>
        </form>
    </div>